<html>
<head>
  <title>Signup</title>
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
</head>
  <body>
    <form class="create_user" action="/signup" method="POST">
      <h1 class="create_title">Create User</h1>
      <input type="text" class="create_input" name="username" placeholder="Username:">
      <br></br>
      <input type="text" class="create_input" name="email" placeholder="Email:">
      <br></br>
      <input type="password" class="create_input" name="password" placeholder="Password:">
      <br></br>
      <input class="create_user_button" type="submit" value="Sign Up">
      <p class="error_text"><%= flash[:signup_error] %></p>
    </form>
  </body>
</head>

</html>
