<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" type="text/css" href="/.css/stylesheet.css">
  <body>
    <h1>Welcome to Meal Prep Planner</h1>
    <h2>Please Signup</h2>
    <br></br>
  </body>
</head>

</html>
