<html>
<head>
  <title>Login Page</title>
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>
  <body>
    <h1 id="login_welcome">Welcome, Please Log in</h1>
    <br></br>
    <form class="login" action="/login" method="POST">
      <input type="text" class="login_input" name="username" placeholder="Username:">
      <br></br>
      <input type="password" class="login_input" name="password" placeholder="Password:">
      <br></br>
      <input type="submit" class="login_button" value="Log In">
      <p class="error_text"><%= flash[:login_error] %></p>
    </form>
  </body>
</html>
