<html>
<head>
  <title>Profile Page-<%=@user.username%></title>
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
</head>
  <body>
    <h1>Welcome Back, <%= @user.username %></h1>
    <a class="home_create_recipe_button" href="/create_recipe">Make A Recipe</a>
    <br><br>
    <h2>Recipes</h2>
    <% @user.meals.each do |recipe| %>
      <a href="/recipe/<%=recipe.id%>">Recipe Name: <%=recipe.name %></a>
      <br></br>
      <% end %>
      <br></br>
  </body>
</html>
