<html>
<head>
  <title>Create Recipe--<%=@user.username%></title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>
  <body>
    <form class="new_recipe_form" action="/recipe" method="POST">
      <h1 class="new_recipe_title">Create New Recipe</h1>
      <h2 class="create_recipe_input_name">Meal Name</h2>
      <input class"new_meal_input" type="text" name="name" placeholder="Meal Name:">
      <br></br>
      <h2 class="create_recipe_input_name">Recipe</h2>
      <input class"new_meal_input" type="text" name="content" placeholder="Recipe:">
      <br></br>
      <h2 class="create_recipe_input_name">Rating</h2>
      <div class="rating">
        <span><input type="radio" name="rating" id="str5" value="5"><label for="str5">1</label></span>
        <span><input type="radio" name="rating" id="str4" value="4"><label for="str4">2</label></span>
        <span><input type="radio" name="rating" id="str3" value="3"><label for="str3">3</label></span>
        <span><input type="radio" name="rating" id="str2" value="2"><label for="str2">4</label></span>
        <span><input type="radio" name="rating" id="str1" value="1"><label for="str1">5</label></span>
      </div>
      <input class="create_meal_button" type="submit" value="Create Meal">
      <p class="error_text"><%= flash[:recipe_error] %></p>
    </form>
  </body>
</html>
