<html>
<head>
  <title>Edit Recipe <%=@recipe.name%></title>
  <link rel="stylesheet" type="text/css" href="/.css/stylesheet.css">
</head>
  <body>
    <%=@recipe.name%>
    <form action="/recipe/<%=@recipe.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <input type="text" value="<%=@recipe.content%>" name="content">
      <br></br>
      <input type="submit" value="Edit">
    </form>
    <br></br>
  </body>
</html>
