<html>
<head>
  <title><%=@recipe.name%></title>
  <link rel="stylesheet" type="text/css" href="/.css/stylesheet.css">
  <body>
    <h1><%=@recipe.name%></h1>
    <form action="/recipe/<%=@recipe.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <input type="text" value="<%=@recipe.content%>" name="content">
      <br></br>
      <input type="submit" value="Edit Recipe">
    </form>
    <br></br>
    <a href="/">Delete Recipe</a>
  </body>
</head>

</html>
