<html>
<head>
  <title><%=@recipe.name%></title>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>
  <body>
    <div class="recipe_container">
    <h1 class="recipe_name_show"><%=@recipe.name%></h1>

    <p><a href="/recipe/<%= @recipe.id %>/edit">Edit Recipe</a></p>
    <br></br>
    <form method="post" action="/recipe/<%=@recipe.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Recipe">
    </form>
  </div>
  </body>


</html>
