<html>
<head>
  <title>Simple Meal Prep</title>
  <link rel="stylesheet" type="text/css" href="/.css/stylesheet.css">
  <body>
    <h1>Welcome to Cookbook</h1>
    <h2>A Simple App to help you keep track of your recipes</h2>
    <br></br>
    <a href="/login">Login</a>
    <br></br>
    <a href="/signup">Sign Up</a>
  </body>
</head>

</html>
