<html>
<head>
  <title>Simple Meal Prep</title>
  <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheet.css" />
  </head>
  <body>
    <h1 id="landing_page_title">Welcome to Cookbook</h1>
    <h2 id="site_logline">A Simple App to keep track of your recipes</h2>
    <br></br>
    <a id="login_button" href="/login">Login</a>
    <br></br>
    <a id="signup_button" href="/signup">Sign Up</a>
  </body>


</html>
